@charset "UTF-8";
@font-face {
    font-family: "idroid";
    src: url("fontes/idroid.otf") format(opentype);
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: rgb(0, 204, 92);
}
header{
    background-image: linear-gradient(to top, rgb(0, 110, 50), rgb(0, 179, 80));
    padding-top: 30px;
    color: white;
}
header h1{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
    text-shadow: 0px 3px 2px hsla(0, 0%, 0%, 0.4);
}
header p{
    text-align: center;
    width: 400px;
    margin: auto;
    text-shadow: 0px 3px 2px hsla(0, 0%, 0%, 0.4);
}
nav{
    margin-top: 35px;
    color: white;
    padding-bottom: 10px;
    margin-left: 20px;
}
nav a{
    margin: 2px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    transition: 0.5s;
}
nav a:hover{
    background-color: rgb(0, 204, 92);
    color: white;
    border-radius: 5px 5px 0px 0px;
}
main{
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 5px, 10px rgba(0, 0, 0, 0.4);
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    padding: 30px 20px 20px 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}
main h1{
    font-family: "idroid";
    font-weight: normal;
    font-size: 1.8em;
    color: rgb(0, 110, 50);
}
main h2{
    font-family: "idroid";
    font-weight: normal;
    color: rgb(0, 110, 50);
    background-image: linear-gradient(to right, rgb(189, 255, 219), transparent);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
main p{
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
    font-size: 1.1em;
}
main p strong{
    color: rgb(0, 110, 50);
}
main a{
    color: rgb(0, 110, 50);
    text-decoration: none;
    font-weight: 700;
}
main a:hover{
    color: rgb(78, 255, 158);
    text-decoration: underline;
}
main img{
    width: 100%;
}
#bugdroid{
    display: block;
    margin: auto;
    width: 300px;
}
#divvideoyt{
    text-align: center;
    background-color: rgb(0, 110, 50);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 62%;
    position: relative;
}
#videoyt{
    position: absolute;
    top: 11%;
    left: 8%;
    width: 84%;
    height: 77%;

}
aside{
    background-color: rgb(189, 255, 219);
    padding: 13px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
aside h3{
    color: white;
    font-weight: bold;
    margin: 0px;
    padding: 13px;
    text-indent: 0px;
    background-color: rgb(0, 204, 92);
    margin: -13px -13px 0px -13px;
    border-radius: 15px 15px 0px 0px;
}
ul{
    columns: 2;
}
li{
    font-size: 110%;
    text-indent: 10px;
}
li::marker{
    content: "\2714 \FE0F";
}

footer{
    text-align: center;
    background-color: rgb(0, 110, 50);
    margin-bottom: 0px;
    margin-top: 20px;
    padding: 10px;
    color: white;
    font-weight: 500;

}
footer>p{
    margin: 0px;
}